html {
  line-height: 1.15;
}

body {
  margin: 0;
}

header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

svg:not(:root) {
  overflow: hidden;
}

.bg-white {
  background-color: #fff;
}

.bg-blue-dark {
  background-color: #2779bd;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-sans {
  font-family: sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.h-1 {
  height: 0.25rem;
}

.leading-normal {
  line-height: 1.5;
}

.m-8 {
  margin: 2rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.max-w-sm {
  max-width: 30rem;
}

.min-h-screen {
  min-height: 100vh;
}

.text-black {
  color: #22292f;
}

.text-grey-darkest {
  color: #3d4852;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-5xl {
  font-size: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.w-16 {
  width: 4rem;
}

.w-full {
  width: 100%;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .md\:min-h-screen {
    min-height: 100vh;
  }

  .md\:pb-0 {
    padding-bottom: 0;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
  }

  .md\:text-15xl {
    font-size: 9rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }
}
